{% extends "base.html" %}
{% from "_formhelpers.html" import render_field, render_select %}
{% block title %}Edit product{% endblock %}
{% block content %}
<h2 class="is-size-2">Edit Product</h2>
<form method="POST" action="/product/{{ product.id }}/edit">
    {{ render_field(form.name, class='input') }}

    {{ render_field(form.description, class='input') }}

    {{ render_select(form.category) }}

    {{ form.csrf_token }}
    <hr>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" type="submit">Save changes</button>
        </div>
        <div class="control">
            <a href="/" class="button is-text">Cancel</a>
        </div>
    </div>
    <hr>
</form>
{% endblock %}
