{% extends "base.html" %}
{% block title %}Edit product{% endblock %}
{% block content %}
<h2 class="is-size-2">Edit Product</h2>
<form method="POST" action="/product/{{ product.id }}/edit">
    <div class="field">
        <label class="label" for="name">Product name</label>
        <div class="control">
            <input class="input" type="text" id="name" name="name" value="{{ product.name }}">
        </div>
    </div>

    <div class="field">
        <label class="label" for="description">Product description</label>
        <div class="control">
            <input class="input" type="text" id="description"
                   name="description" value="{{ product.description }}">
        </div>
    </div>

    <div class="field">
        <label class="label" for="category">Category</label>
        <div class="control">
            <div class="select">
                <select id="category" name="category">
                    <option value="">Choose…</option>
                    {% for category in categories %}
                    {% if category.id == product.category_id %}
                        <option selected value="{{ category.id }}">{{ category.name }}</option>
                    {% else %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary" type="submit">Save changes</button>
        </div>
        <div class="control">
            <a href="/" class="button is-text">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}
