{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-one-third">
        <h2 class="is-size-2">Categories</h2>
        <ul>
            {% for category in categories %}
            <li>
                <a href="/category/{{ category.id }}">
                    {{ category.name|e }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="column is-two-thirds">
        <h2 class="is-size-2">Recently added</h2>
        <ul>
            {% for product in products %}
            <li>
                <a href="/product/{{ product.id }}">
                    {{ product.name|e }} ({{ product.category.name|e }})
                </a>
            </li>
            {% endfor %}
        </ul>
        {% if 'username' in login_session %}
        <hr>
        <div>
            <a href="/newproduct" class="button is-primary">Add new product</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}