<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product list</title>
</head>
<body>
<h1>Products</h1>
<ul>
    {% for product in products %}
    <li>{{ product.category.name|e }} &mdash; {{ product.name|e }} &mdash; {{ product.description|e }}</li>
    {% endfor %}
</ul>
</body>
</html>